apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "ocp4-workload-summit2020-kogito-lab"
    openshift.io/display-name: ""
    openshift.io/requester: "user{{ user_num }}"
  name: "{{ _namespace }}"
spec:
  finalizers:
    - kubernetes